In [48]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from keras.callbacks import EarlyStopping
import math
import os
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

Using matplotlib backend: Qt5Agg

In [49]:
path="D:/scrapping/magicbricks/"
df=pd.read_csv(f'{path}data_gnr_jan.csv')

In [120]:
df.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
Society,Golfforeste AC Apartments,SKA Metro Ville,Prideville,Purvanchal Royal City,Stellar One
addressLocality,Zeta 1,"Eta 2, Eta",Yamuna Expressway,Chi 5,Greater Noida West
agentCompanyName,BD Green Home Pvt. Ltd.,NaN,Imperia Structures Ltd.,Purvanchal Projects Pvt. Ltd.,Stellar Ventures Pvt. Ltd.
agentMaskedmobilenumber,+91-88XXXXXXX90,+91-91XXXXXXX15,+91-74XXXXXXX93,+91-78XXXXXXX42,+91-98XXXXXXX77
agentName,Praveen Choudhary,SKA GROUP,Vipin,Shashi Kapoor,Stellar Ventures Pvt. Ltd.
bathroom,2,2,2,4,2
bedroom,2,2,2,4,2
builderName,Paramount Group,SKA Group,Imperia Structures Ltd.,Purvanchal Projects Pvt. Ltd.,Stellar Ventures Pvt. Ltd.
cityName,Greater Noida,Greater Noida,Greater Noida,Greater Noida,Greater Noida
createdDate,01/01/1970,01/01/1970,01/01/1970,01/01/1970,01/01/1970
description,"2 Bath,Unfurnished,16 floor Paramount Golf For...","2 Bath,Semi-Furnished SKA Metro Ville is the f...","2 Bath,Semi-Furnished We at Prideville underst...","4 Bath,Semi-Furnished,19 floor A life where yo...","2 Bath,Unfurnished In Greater Noida(West), alo..."
floorSize,1260,920,900,2505,895
floorno,16,Not available,Not available,19,Not available
furnshingstatus,Unfurnished,Semi-Furnished,Semi-Furnished,Semi-Furnished,Unfurnished
id,domcache_srp_46630105,domcache_srp_46365021,domcache_srp_45300283,domcache_srp_46527183,domcache_srp_42326915
latitude,NaN,77.5375,NaN,77.5061,77.436
locality,Zeta 1,"Eta 2, Eta",Yamuna Expressway,Chi 5,Greater Noida West
longitude,NaN,28.497,NaN,28.4302,28.5764
name,2 BHK Apartment for Sale in Golfforeste AC Apa...,"2 BHK Apartment for Sale in SKA Metro Ville, E...","2 BHK Apartment for Sale in Prideville , Yamun...",4 BHK Apartment for Sale in Purvanchal Royal C...,"2 BHK Apartment for Sale in Stellar One, Great..."
numberOfRooms,2,2,2,4,2
postedBy,Agent,Builder,Builder,Builder,Builder
price,3.71e+06,2.56e+06,4.68e+06,1.12e+07,3.11e+06
priceInWord,37.1 Lac,25.6 Lac,46.8 Lac,1.12 Cr,31.1 Lac
projectName,Golfforeste AC Apartments,SKA Metro Ville,Prideville,Purvanchal Royal City,Stellar One
propertyType,Apartment,Apartment,Apartment,Apartment,Apartment
url,https://www.magicbricks.com/propertyDetails/2-...,https://www.magicbricks.com/propertyDetails/2-...,https://www.magicbricks.com/propertyDetails/2-...,https://www.magicbricks.com/propertyDetails/4-...,https://www.magicbricks.com/propertyDetails/2-...

In [51]:
df.floorSize.unique()

array(['1260 FTK ', '920 FTK ', '900 FTK ', '2505 FTK ', '895 FTK ',
       '1380 FTK ', '1730 FTK ', '550 FTK ', '1500 FTK ', '530 FTK ',
       '300 FTK ', '1155 FTK ', '1197 FTK ', '127 FTK ', '133 FTK ',
       '1650 FTK ', '982 FTK ', '1600 FTK ', '1170 FTK ', '2550 FTK ',
       '1060 FTK ', '1075 FTK ', '1165 FTK ', '1970 FTK ', '3710 FTK ',
       nan, '2630 FTK ', '1065 FTK ', '6300 FTK ', '1930 FTK ',
       '3008 FTK ', '1400 FTK ', '500 FTK ', '1475 FTK ', '1350 FTK ',
       '150 FTK ', '3500 FTK ', '1050 FTK ', '1440 FTK ', '1460 FTK ',
       '1227 FTK ', '2350 FTK ', '1150 FTK ', '1000 FTK ', '1563 FTK ',
       '108 FTK ', '955 FTK ', '90 FTK ', '1800 FTK ', '1900 FTK ',
       '1450 FTK ', '1458 FTK ', '1375 FTK ', '925 FTK ', '2900 FTK ',
       '2490 FTK ', '690 FTK ', '1230 FTK ', '890 FTK ', '799 FTK ',
       '1740 FTK ', '1485 FTK ', '1700 FTK ', '1245 FTK ', '58 FTK ',
       '3876 FTK ', '1286 FTK ', '1040 FTK ', '1114 FTK ', '2495 FTK ',
       '1425 FTK ', '1852 FTK ', '1775 FTK ', '1580 FTK ', '2320 FTK ',
       '1840 FTK ', '360 FTK ', '1280 FTK ', '2220 FTK ', '990 FTK ',
       '1515 FTK ', '4630 FTK ', '1080 FTK ', '100 FTK ', '2655 FTK ',
       '2185 FTK ', '831 FTK ', '1860 FTK ', '1520 FTK ', '1919 FTK ',
       '1507 FTK ', '30 FTK ', '1120 FTK ', '125 FTK ', '1659 FTK ',
       '865 FTK ', '1680 FTK ', '948 FTK ', '3499 FTK ', '1470 FTK ',
       '984 FTK ', '3000 FTK ', '960 FTK ', '1874 FTK ', '1300 FTK ',
       '2000 FTK ', '80 FTK ', '1193 FTK ', '1240 FTK ', '995 FTK ',
       '1906 FTK ', '555 FTK ', '1180 FTK ', '3250 FTK ', '101 FTK ',
       '1365 FTK ', '915 FTK ', '1100 FTK ', '1420 FTK ', '3085 FTK ',
       '720 FTK ', '2153 FTK ', '1742 FTK ', '4200 FTK ', '1560 FTK ',
       '3018 FTK ', '2365 FTK ', '1210 FTK ', '1090 FTK ', '860 FTK ',
       '2075 FTK ', '2190 FTK ', '2420 FTK ', '1132 FTK ', '40 FTK ',
       '477 FTK ', '3450 FTK ', '2150 FTK ', '1550 FTK ', '650 FTK ',
       '1235 FTK ', '1745 FTK ', '1750 FTK ', '1206 FTK ', '1920 FTK ',
       '980 FTK ', '2500 FTK ', '1725 FTK ', '435 FTK ', '1195 FTK ',
       '6000 FTK ', '1729 FTK ', '2005 FTK ', '2300 FTK ', '1830 FTK ',
       '200 FTK ', '1890 FTK ', '1185 FTK ', '891 FTK ', '1850 FTK ',
       '1225 FTK ', '1105 FTK ', '1335 FTK ', '31 FTK ', '625 FTK ',
       '2875 FTK ', '350 FTK ', '1086 FTK ', '947 FTK ', '1894 FTK ',
       '910 FTK ', '1267 FTK ', '1918 FTK ', '1160 FTK ', '1033 FTK ',
       '3092 FTK ', '3210 FTK ', '1220 FTK ', '110 FTK ', '870 FTK ',
       '1265 FTK ', '1494 FTK ', '850 FTK ', '855 FTK ', '1737 FTK ',
       '1521 FTK ', '1765 FTK ', '75 FTK ', '2250 FTK ', '810 FTK ',
       '1820 FTK ', '525 FTK ', '1544 FTK ', '600 FTK ', '740 FTK ',
       '1398 FTK ', '1115 FTK ', '1062 FTK ', '1147 FTK ', '450 FTK ',
       '1250 FTK ', '1990 FTK ', '2175 FTK ', '1875 FTK ', '1640 FTK ',
       '2480 FTK ', '1021 FTK ', '2129 FTK ', '1505 FTK ', '1595 FTK ',
       '1035 FTK ', '1175 FTK ', '1705 FTK ', '1025 FTK ', '1445 FTK ',
       '1735 FTK ', '1110 FTK ', '2200 FTK ', '1565 FTK ', '1290 FTK ',
       '935 FTK ', '1376 FTK ', '790 FTK ', '1005 FTK ', '3070 FTK ',
       '1055 FTK ', '1385 FTK ', '700 FTK ', '1441 FTK ', '1295 FTK ',
       '1285 FTK ', '845 FTK ', '1330 FTK ', '1873 FTK ', '1255 FTK ',
       '1610 FTK ', '1097 FTK ', '885 FTK ', '1270 FTK ', '937 FTK ',
       '3570 FTK ', '1189 FTK ', '1164 FTK ', '1222 FTK ', '1070 FTK ',
       '256 FTK ', '35 FTK ', '2054 FTK ', '930 FTK ', '1468 FTK ',
       '987 FTK ', '535 FTK ', '1540 FTK ', '1370 FTK ', '425 FTK ',
       '1340 FTK ', '545 FTK ', '940 FTK ', '515 FTK ', '1825 FTK ',
       '1027 FTK ', '832 FTK ', '975 FTK ', '780 FTK ', '280 FTK ',
       '585 FTK ', '1573 FTK ', '42 FTK ', '640 FTK ', '96 FTK ',
       '1630 FTK ', '1715 FTK ', '1780 FTK ', '1275 FTK ', '1200 FTK ',
       '1455 FTK ', '4690 FTK ', '1495 FTK ', '430 FTK ', '710 FTK ',
       '950 FTK ', '1229 FTK ', '2645 FTK ', '1015 FTK ', '985 FTK ',
       '590 FTK ', '1140 FTK ', '1188 FTK ', '1127 FTK ', '805 FTK ',
       '1545 FTK ', '1359 FTK ', '1790 FTK ', '1421 FTK ', '1960 FTK ',
       '999 FTK ', '1325 FTK ', '1658 FTK ', '792 FTK ', '1390 FTK ',
       '1760 FTK ', '4000 FTK ', '225 FTK ', '260 FTK ', '1148 FTK ',
       '32 FTK ', '76 FTK ', '29 FTK ', '542 FTK ', '655 FTK ',
       '1030 FTK ', '5500 FTK ', '2800 FTK ', '1805 FTK ', '1709 FTK ',
       '1665 FTK ', '480 FTK ', '1764 FTK ', '541 FTK ', '3300 FTK ',
       '2160 FTK ', '220 FTK ', '1870 FTK ', '250 FTK ', '102 FTK ',
       '1106 FTK ', '120 FTK ', '1095 FTK ', '1009 FTK ', '1010 FTK ',
       '5000 FTK ', '1575 FTK ', '50 FTK ', '330 FTK ', '2650 FTK ',
       '1541 FTK ', '2400 FTK ', '1623 FTK ', '1795 FTK ', '1102 FTK ',
       '972 FTK ', '905 FTK ', '121 FTK ', '1574 FTK ', '1916 FTK ',
       '1308 FTK ', '440 FTK ', '344 FTK ', '880 FTK ', '911 FTK ',
       '1036 FTK ', '1465 FTK ', '1087 FTK ', '3090 FTK ', '1625 FTK ',
       '1205 FTK ', '598 FTK ', '192 FTK ', '635 FTK ', '1728 FTK ',
       '1539 FTK ', '263 FTK ', '1674 FTK ', '1190 FTK ', '323 FTK ',
       '1179 FTK ', '970 FTK ', '1693 FTK ', '2485 FTK ', '580 FTK ',
       '1085 FTK ', '800 FTK ', '750 FTK ', '1369 FTK ', '5250 FTK ',
       '1499 FTK ', '475 FTK ', '1462 FTK ', '320 FTK ', '1430 FTK ',
       '595 FTK ', '2370 FTK ', '1810 FTK ', '1342 FTK ', '2270 FTK ',
       '322 FTK ', '5226 FTK ', '36 FTK ', '318 FTK ', '34 FTK ',
       '1704 FTK ', '875 FTK ', '390 FTK ', '10,000 FTK ', '1020 FTK ',
       '1767 FTK ', '835 FTK ', '1535 FTK ', '400 FTK ', '1620 FTK ',
       '2136 FTK ', '485 FTK ', '775 FTK ', '54 FTK ', '1315 FTK ',
       '380 FTK ', '1768 FTK ', '2600 FTK ', '1845 FTK ', '1480 FTK ',
       '1405 FTK ', '1449 FTK ', '1143 FTK ', '1785 FTK ', '1130 FTK ',
       '1019 FTK ', '1131 FTK ', '2037 FTK ', '560 FTK ', '1770 FTK ',
       '2605 FTK ', '1530 FTK ', '410 FTK ', '180 FTK ', '2050 FTK ',
       '38 FTK ', '1360 FTK ', '1710 FTK ', '1034 FTK ', '1706 FTK ',
       '4675 FTK ', '170 FTK ', '1694 FTK ', '3240 FTK ', '1309 FTK ',
       '841 FTK ', '840 FTK ', '1457 FTK ', '3009 FTK ', '158 FTK ',
       '171 FTK ', '997 FTK ', '540 FTK ', '1410 FTK ', '87 FTK ',
       '1590 FTK ', '898 FTK ', '1492 FTK ', '2065 FTK ', '162 FTK ',
       '2114 FTK ', '2830 FTK ', '7399 FTK ', '1763 FTK ', '3345 FTK ',
       '2450 FTK ', '1880 FTK ', '270 FTK ', '1418 FTK ', '1950 FTK ',
       '2700 FTK ', '644 FTK ', '9 FTK ', '825 FTK ', '1670 FTK ',
       '1412 FTK ', '1555 FTK ', '137 FTK ', '132 FTK ', '2590 FTK ',
       '2506 FTK ', '3675 FTK ', '3746 FTK '], dtype=object)

In [52]:
#df['price/sqft']=df['price']/df['floorSize']

In [53]:
#df['floorSize'].min()

In [54]:
df.columns

Index(['Unnamed: 0', 'Society', 'addressLocality', 'agentCompanyName',
       'agentMaskedmobilenumber', 'agentName', 'bathroom', 'bedroom',
       'builderName', 'cityName', 'createdDate', 'description', 'floorSize',
       'floorno', 'furnshingstatus', 'id', 'latitude', 'locality', 'longitude',
       'name', 'numberOfRooms', 'postedBy', 'price', 'priceInWord',
       'projectName', 'propertyType', 'url'],
      dtype='object')

In [55]:
df.description.unique()[0]

'2 Bath,Unfurnished,16 floor Paramount Golf Forest Ac Apartments complimented by designer landscape with a green golf course for you and your family, a well-deserved healthy lifestyle.'

In [56]:
df.name.unique()[0]

'2 BHK Apartment for Sale in Golfforeste AC Apartments, Zeta 1'

In [57]:
df.locality[0]

'Zeta 1'

In [58]:
df.locality.nunique()

106

In [59]:
df.shape

(1555, 27)

In [60]:
df['createdDate']=pd.to_datetime(df['createdDate'])

In [61]:
df['createdDate']=df['createdDate'].dt.strftime('%m/%d/%Y')

In [62]:
def null_values(DataFrame_Name):
    
    sum_null = DataFrame_Name.isnull().sum()
    total_count = DataFrame_Name.isnull().count()
    percent_nullvalues = sum_null/total_count * 100
    df_null = pd.DataFrame()
    df_null['Total_values'] = total_count
    df_null['Null_Count'] = sum_null
    df_null['Percent'] = percent_nullvalues
    df_null = df_null.sort_values(by='Null_Count',ascending = False)

    return(df_null)

In [63]:
df=df[~df.furnshingstatus.isnull()]

In [64]:
null_values(df)

                         Total_values  Null_Count    Percent
agentCompanyName                 1549        1341  86.571982
builderName                      1549         801  51.710781
Society                          1549         789  50.936088
projectName                      1549         789  50.936088
latitude                         1549         650  41.962556
longitude                        1549         650  41.962556
floorno                          1549         163  10.522918
locality                         1549          94   6.068431
addressLocality                  1549          94   6.068431
floorSize                        1549          45   2.905100
bedroom                          1549          33   2.130407
numberOfRooms                    1549          33   2.130407
price                            1549           3   0.193673
bathroom                         1549           2   0.129116
postedBy                         1549           0   0.000000
propertyType                     1549           0   0.000000
name                             1549           0   0.000000
priceInWord                      1549           0   0.000000
Unnamed: 0                       1549           0   0.000000
id                               1549           0   0.000000
furnshingstatus                  1549           0   0.000000
description                      1549           0   0.000000
createdDate                      1549           0   0.000000
cityName                         1549           0   0.000000
agentName                        1549           0   0.000000
agentMaskedmobilenumber          1549           0   0.000000
url                              1549           0   0.000000

In [65]:
df[df['furnshingstatus'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Society, addressLocality, agentCompanyName, agentMaskedmobilenumber, agentName, bathroom, bedroom, builderName, cityName, createdDate, description, floorSize, floorno, furnshingstatus, id, latitude, locality, longitude, name, numberOfRooms, postedBy, price, priceInWord, projectName, propertyType, url]
Index: []

[0 rows x 27 columns]

In [66]:
df.projectName.fillna('Not available',inplace=True)

In [67]:
df.floorno.fillna('Not available',inplace=True)

In [68]:
df.price.fillna('Not define',inplace=True)

In [69]:
def replace_ftk(x):
    #print(x)
    if(re.findall(r'FTK',x)):
        result = re.sub(r'FTK','',x)
    else:
        result = x
    return (result)

In [70]:
def replace_int(x):
    #print(x)
    if x !='nan':
        if(re.findall("[$&+,:;=?@#|'<>.^*()%!-]",x)):
            result = re.sub("[$&+,:;=?@#|'<>.^*()%!-]",'',x)
        else:
            result = x
    else:
        result =0
    return result

In [71]:
df.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
Society,Golfforeste AC Apartments,SKA Metro Ville,Prideville,Purvanchal Royal City,Stellar One
addressLocality,Zeta 1,"Eta 2, Eta",Yamuna Expressway,Chi 5,Greater Noida West
agentCompanyName,BD Green Home Pvt. Ltd.,NaN,Imperia Structures Ltd.,Purvanchal Projects Pvt. Ltd.,Stellar Ventures Pvt. Ltd.
agentMaskedmobilenumber,+91-88XXXXXXX90,+91-91XXXXXXX15,+91-74XXXXXXX93,+91-78XXXXXXX42,+91-98XXXXXXX77
agentName,Praveen Choudhary,SKA GROUP,Vipin,Shashi Kapoor,Stellar Ventures Pvt. Ltd.
bathroom,2,2,2,4,2
bedroom,2,2,2,4,2
builderName,Paramount Group,SKA Group,Imperia Structures Ltd.,Purvanchal Projects Pvt. Ltd.,Stellar Ventures Pvt. Ltd.
cityName,Greater Noida,Greater Noida,Greater Noida,Greater Noida,Greater Noida
createdDate,01/01/1970,01/01/1970,01/01/1970,01/01/1970,01/01/1970
description,"2 Bath,Unfurnished,16 floor Paramount Golf For...","2 Bath,Semi-Furnished SKA Metro Ville is the f...","2 Bath,Semi-Furnished We at Prideville underst...","4 Bath,Semi-Furnished,19 floor A life where yo...","2 Bath,Unfurnished In Greater Noida(West), alo..."
floorSize,1260 FTK,920 FTK,900 FTK,2505 FTK,895 FTK
floorno,16,Not available,Not available,19,Not available
furnshingstatus,Unfurnished,Semi-Furnished,Semi-Furnished,Semi-Furnished,Unfurnished
id,domcache_srp_46630105,domcache_srp_46365021,domcache_srp_45300283,domcache_srp_46527183,domcache_srp_42326915
latitude,NaN,77.5375,NaN,77.5061,77.436
locality,Zeta 1,"Eta 2, Eta",Yamuna Expressway,Chi 5,Greater Noida West
longitude,NaN,28.497,NaN,28.4302,28.5764
name,2 BHK Apartment for Sale in Golfforeste AC Apa...,"2 BHK Apartment for Sale in SKA Metro Ville, E...","2 BHK Apartment for Sale in Prideville , Yamun...",4 BHK Apartment for Sale in Purvanchal Royal C...,"2 BHK Apartment for Sale in Stellar One, Great..."
numberOfRooms,2,2,2,4,2
postedBy,Agent,Builder,Builder,Builder,Builder
price,3.71e+06,2.56e+06,4.68e+06,1.12e+07,3.11e+06
priceInWord,37.1 Lac,25.6 Lac,46.8 Lac,1.12 Cr,31.1 Lac
projectName,Golfforeste AC Apartments,SKA Metro Ville,Prideville,Purvanchal Royal City,Stellar One
propertyType,Apartment,Apartment,Apartment,Apartment,Apartment
url,https://www.magicbricks.com/propertyDetails/2-...,https://www.magicbricks.com/propertyDetails/2-...,https://www.magicbricks.com/propertyDetails/2-...,https://www.magicbricks.com/propertyDetails/4-...,https://www.magicbricks.com/propertyDetails/2-...

In [72]:
df['floorSize']=df.floorSize.apply(lambda x : replace_ftk(str(x)))

In [73]:
df_recommend=df[['Society', 'locality', 'bathroom', 'bedroom',
       'builderName', 'cityName','floorSize',
       'floorno', 'furnshingstatus','name','price', 'priceInWord', 'propertyType','description']]

In [74]:
df_recommend.head()

,Society,locality,bathroom,bedroom,builderName,cityName,floorSize,floorno,furnshingstatus,name,price,priceInWord,propertyType,description
0,Golfforeste AC Apartments,Zeta 1,2.0,2.0,Paramount Group,Greater Noida,1260,16,Unfurnished,2 BHK Apartment for Sale in Golfforeste AC Apa...,3.71e+06,37.1 Lac,Apartment,"2 Bath,Unfurnished,16 floor Paramount Golf For..."
1,SKA Metro Ville,"Eta 2, Eta",2.0,2.0,SKA Group,Greater Noida,920,Not available,Semi-Furnished,"2 BHK Apartment for Sale in SKA Metro Ville, E...",2.56e+06,25.6 Lac,Apartment,"2 Bath,Semi-Furnished SKA Metro Ville is the f..."
2,Prideville,Yamuna Expressway,2.0,2.0,Imperia Structures Ltd.,Greater Noida,900,Not available,Semi-Furnished,"2 BHK Apartment for Sale in Prideville , Yamun...",4.68e+06,46.8 Lac,Apartment,"2 Bath,Semi-Furnished We at Prideville underst..."
3,Purvanchal Royal City,Chi 5,4.0,4.0,Purvanchal Projects Pvt. Ltd.,Greater Noida,2505,19,Semi-Furnished,4 BHK Apartment for Sale in Purvanchal Royal C...,1.12e+07,1.12 Cr,Apartment,"4 Bath,Semi-Furnished,19 floor A life where yo..."
4,Stellar One,Greater Noida West,2.0,2.0,Stellar Ventures Pvt. Ltd.,Greater Noida,895,Not available,Unfurnished,"2 BHK Apartment for Sale in Stellar One, Great...",3.11e+06,31.1 Lac,Apartment,"2 Bath,Unfurnished In Greater Noida(West), alo..."

In [75]:
null_values(df_recommend)

                 Total_values  Null_Count    Percent
builderName              1549         801  51.710781
Society                  1549         789  50.936088
locality                 1549          94   6.068431
bedroom                  1549          33   2.130407
bathroom                 1549           2   0.129116
cityName                 1549           0   0.000000
floorSize                1549           0   0.000000
floorno                  1549           0   0.000000
furnshingstatus          1549           0   0.000000
name                     1549           0   0.000000
price                    1549           0   0.000000
priceInWord              1549           0   0.000000
propertyType             1549           0   0.000000
description              1549           0   0.000000

In [76]:
#df_recommend[df_recommend.Society.isnull()]

In [77]:
df_recommend.columns

Index(['Society', 'locality', 'bathroom', 'bedroom', 'builderName', 'cityName',
       'floorSize', 'floorno', 'furnshingstatus', 'name', 'price',
       'priceInWord', 'propertyType', 'description'],
      dtype='object')

In [78]:
col_list=['Society', 'locality', 'bathroom', 'bedroom', 'builderName', 'cityName',
       'floorSize', 'floorno', 'furnshingstatus', 'name', 'price',
       'priceInWord', 'propertyType','description']

In [79]:
df_recommend.head()

,Society,locality,bathroom,bedroom,builderName,cityName,floorSize,floorno,furnshingstatus,name,price,priceInWord,propertyType,description
0,Golfforeste AC Apartments,Zeta 1,2.0,2.0,Paramount Group,Greater Noida,1260,16,Unfurnished,2 BHK Apartment for Sale in Golfforeste AC Apa...,3.71e+06,37.1 Lac,Apartment,"2 Bath,Unfurnished,16 floor Paramount Golf For..."
1,SKA Metro Ville,"Eta 2, Eta",2.0,2.0,SKA Group,Greater Noida,920,Not available,Semi-Furnished,"2 BHK Apartment for Sale in SKA Metro Ville, E...",2.56e+06,25.6 Lac,Apartment,"2 Bath,Semi-Furnished SKA Metro Ville is the f..."
2,Prideville,Yamuna Expressway,2.0,2.0,Imperia Structures Ltd.,Greater Noida,900,Not available,Semi-Furnished,"2 BHK Apartment for Sale in Prideville , Yamun...",4.68e+06,46.8 Lac,Apartment,"2 Bath,Semi-Furnished We at Prideville underst..."
3,Purvanchal Royal City,Chi 5,4.0,4.0,Purvanchal Projects Pvt. Ltd.,Greater Noida,2505,19,Semi-Furnished,4 BHK Apartment for Sale in Purvanchal Royal C...,1.12e+07,1.12 Cr,Apartment,"4 Bath,Semi-Furnished,19 floor A life where yo..."
4,Stellar One,Greater Noida West,2.0,2.0,Stellar Ventures Pvt. Ltd.,Greater Noida,895,Not available,Unfurnished,"2 BHK Apartment for Sale in Stellar One, Great...",3.11e+06,31.1 Lac,Apartment,"2 Bath,Unfurnished In Greater Noida(West), alo..."

In [80]:
df_recommend['description']=df_recommend['description'].str.cat(df['name'].astype(str), sep =" , ")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [81]:
df_recommend.head()

,Society,locality,bathroom,bedroom,builderName,cityName,floorSize,floorno,furnshingstatus,name,price,priceInWord,propertyType,description
0,Golfforeste AC Apartments,Zeta 1,2.0,2.0,Paramount Group,Greater Noida,1260,16,Unfurnished,2 BHK Apartment for Sale in Golfforeste AC Apa...,3.71e+06,37.1 Lac,Apartment,"2 Bath,Unfurnished,16 floor Paramount Golf For..."
1,SKA Metro Ville,"Eta 2, Eta",2.0,2.0,SKA Group,Greater Noida,920,Not available,Semi-Furnished,"2 BHK Apartment for Sale in SKA Metro Ville, E...",2.56e+06,25.6 Lac,Apartment,"2 Bath,Semi-Furnished SKA Metro Ville is the f..."
2,Prideville,Yamuna Expressway,2.0,2.0,Imperia Structures Ltd.,Greater Noida,900,Not available,Semi-Furnished,"2 BHK Apartment for Sale in Prideville , Yamun...",4.68e+06,46.8 Lac,Apartment,"2 Bath,Semi-Furnished We at Prideville underst..."
3,Purvanchal Royal City,Chi 5,4.0,4.0,Purvanchal Projects Pvt. Ltd.,Greater Noida,2505,19,Semi-Furnished,4 BHK Apartment for Sale in Purvanchal Royal C...,1.12e+07,1.12 Cr,Apartment,"4 Bath,Semi-Furnished,19 floor A life where yo..."
4,Stellar One,Greater Noida West,2.0,2.0,Stellar Ventures Pvt. Ltd.,Greater Noida,895,Not available,Unfurnished,"2 BHK Apartment for Sale in Stellar One, Great...",3.11e+06,31.1 Lac,Apartment,"2 Bath,Unfurnished In Greater Noida(West), alo..."

In [82]:
df_recommend['floorSize']=df_recommend.floorSize.apply(lambda x : replace_int(str(x)))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [96]:
df_recommend['price']=df_recommend.price.apply(lambda x : replace_int(str(x)))

In [83]:
df_recommend['floorSize']=df_recommend.floorSize.astype(float)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [84]:
df_recommend=df_recommend[df_recommend.floorSize>100]

In [85]:
df_recommend.head()

,Society,locality,bathroom,bedroom,builderName,cityName,floorSize,floorno,furnshingstatus,name,price,priceInWord,propertyType,description
0,Golfforeste AC Apartments,Zeta 1,2.0,2.0,Paramount Group,Greater Noida,1260.0,16,Unfurnished,2 BHK Apartment for Sale in Golfforeste AC Apa...,3.71e+06,37.1 Lac,Apartment,"2 Bath,Unfurnished,16 floor Paramount Golf For..."
1,SKA Metro Ville,"Eta 2, Eta",2.0,2.0,SKA Group,Greater Noida,920.0,Not available,Semi-Furnished,"2 BHK Apartment for Sale in SKA Metro Ville, E...",2.56e+06,25.6 Lac,Apartment,"2 Bath,Semi-Furnished SKA Metro Ville is the f..."
2,Prideville,Yamuna Expressway,2.0,2.0,Imperia Structures Ltd.,Greater Noida,900.0,Not available,Semi-Furnished,"2 BHK Apartment for Sale in Prideville , Yamun...",4.68e+06,46.8 Lac,Apartment,"2 Bath,Semi-Furnished We at Prideville underst..."
3,Purvanchal Royal City,Chi 5,4.0,4.0,Purvanchal Projects Pvt. Ltd.,Greater Noida,2505.0,19,Semi-Furnished,4 BHK Apartment for Sale in Purvanchal Royal C...,1.12e+07,1.12 Cr,Apartment,"4 Bath,Semi-Furnished,19 floor A life where yo..."
4,Stellar One,Greater Noida West,2.0,2.0,Stellar Ventures Pvt. Ltd.,Greater Noida,895.0,Not available,Unfurnished,"2 BHK Apartment for Sale in Stellar One, Great...",3.11e+06,31.1 Lac,Apartment,"2 Bath,Unfurnished In Greater Noida(West), alo..."

In [93]:
df_recommend=df_recommend[df_recommend.price!='Not define']

In [99]:
df_recommend['price']=df_recommend.price.astype(float)

In [100]:
df_recommend['price/area']=df_recommend['price']/df_recommend['floorSize']

In [103]:
df_recommend[df_recommend.locality=='Noida Extension']

,Society,locality,bathroom,bedroom,builderName,cityName,floorSize,floorno,furnshingstatus,name,price,priceInWord,propertyType,description,price/area
77,Shri Radha Sky Garden,Noida Extension,2.0,2.0,Shri Group,Greater Noida,1286.0,8,Unfurnished,2 BHK Apartment for Sale in Shri Radha Sky Gar...,48000000.0,48 Lac,Apartment,"2 Bath,Unfurnished,8 floor This Multistorey A...",37325.038880
86,NaN,Noida Extension,3.0,3.0,NaN,Greater Noida,1852.0,1,Unfurnished,3 BHK Apartment for Sale in Noida Extension,62000000.0,62 Lac,Apartment,"3 Bath,Unfurnished,1 floor,North - East facing...",33477.321814
133,Hawelia Valenova Park,Noida Extension,3.0,3.0,Hawelia Group,Greater Noida,1470.0,7,Furnished,3 BHK Apartment for Sale in Hawelia Valenova P...,51450000.0,51.5 Lac,Apartment,"3 Bath,Furnished,7 floor,North - East facing 8...",35000.000000
170,Nirala Estate,Noida Extension,2.0,2.0,Nirala India,Greater Noida,955.0,10,Unfurnished,"2 BHK Apartment for Sale in Nirala Estate, Noi...",33750000.0,33.8 Lac,Apartment,"2 Bath,Unfurnished,10 floor,East facing Availa...",35340.314136
178,JKG Palm Court,Noida Extension,2.0,2.0,JKG Group,Greater Noida,1090.0,21,Semi-Furnished,"2 BHK Apartment for Sale in JKG Palm Court, No...",34880000.0,34.9 Lac,Apartment,"2 Bath,Semi-Furnished,21 floor,East facing Par...",32000.000000
190,Supertech Eco Village 1,Noida Extension,2.0,2.0,Supertech Ltd.,Greater Noida,890.0,7,Furnished,2 BHK Apartment for Sale in Supertech Eco Vill...,29000000.0,29 Lac,Apartment,"2 Bath,Furnished,7 floor,North - East facing E...",32584.269663
197,Lotus Villas,Noida Extension,1.0,1.0,Renowned Group,Greater Noida,650.0,Ground,Semi-Furnished,"1 BHK Apartment for Sale in Lotus Villas, Noid...",18100000.0,18.1 Lac,Apartment,"1 Bath,Semi-Furnished,Ground floor,North facin...",27846.153846
202,Gulshan Bellina,Noida Extension,3.0,3.0,Gulshan Homz,Greater Noida,1745.0,18,Semi-Furnished,"3 BHK Apartment for Sale in Gulshan Bellina, N...",70000000.0,70 Lac,Apartment,"3 Bath,Semi-Furnished,18 floor,East facing 3 B...",40114.613181
244,Gaur City 7th Avenue,Noida Extension,2.0,2.0,Gaurs Group,Greater Noida,1105.0,12,Semi-Furnished,2 BHK Apartment for Sale in Gaur City 7th Ave...,44200000.0,44.2 Lac,Apartment,"2 Bath,Semi-Furnished,12 floor,North facing th...",40000.000000
251,Galaxy North Avenue,Noida Extension,2.0,2.0,Galaxy Group,Greater Noida,925.0,16,Semi-Furnished,2 BHK Apartment for Sale in Galaxy North Avenu...,32000000.0,32 Lac,Apartment,"2 Bath,Semi-Furnished,16 floor,East facing Woo...",34594.594595
269,Oxford Square,Noida Extension,2.0,2.0,Supertech Ltd.,Greater Noida,1894.0,Ground,Semi-Furnished,"2 BHK Apartment for Sale in Oxford Square, Noi...",79000000.0,79 Lac,Apartment,"2 Bath,Semi-Furnished,Ground floor,East facing...",41710.665259
279,Mahagun Mywoods,Noida Extension,2.0,2.0,Mahagun Group,Greater Noida,1000.0,11,Semi-Furnished,"2 BHK Apartment for Sale in Mahagun Mywoods, N...",44000000.0,44 Lac,Apartment,"2 Bath,Semi-Furnished,11 floor Multistorey A...",44000.000000
295,Supertech Eco Village 1,Noida Extension,2.0,2.0,Supertech Ltd.,Greater Noida,890.0,11,Semi-Furnished,2 BHK Apartment for Sale in Supertech Eco Vill...,30000000.0,30 Lac,Apartment,"2 Bath,Semi-Furnished,11 floor This spacious ...",33707.865169
308,Panchsheel Greens 2,Noida Extension,3.0,3.0,Panchsheel Builtech Pvt. Ltd.,Greater Noida,1820.0,3,Unfurnished,3 BHK Apartment for Sale in Panchsheel Greens ...,59000000.0,59 Lac,Apartment,"3 Bath,Unfurnished,3 floor,North - East facing...",32417.582418
360,Gaur City 7th Avenue,Noida Extension,2.0,2.0,Gaurs Group,Greater Noida,1075.0,19,Unfurnished,2 BHK Apartment for Sale in Gaur City 7th Ave...,43000000.0,43 Lac,Apartment,"2 Bath,Unfurnished,19 floor,East facing near g...",40000.000000
452,Nirala Estate,Noida Extension,2.0,3.0,Nirala India,Greater Noida,1370.0,12,Unfurnished,"3 BHK Apartment for Sale in Nirala Estate, Noi...",51000000.0,51 Lac,Apartment,"2 Bath,Unfurnished,12 floor,North - West facin...",37226.277372
466,Supertech Eco Village 1,Noida Extension,2.0,2.0,Supertech Ltd.,Greater Noida,890.0,6,Unfurnished,2 BHK Apartment for Sale in Supertech Eco Vill...,30000000.0,30 Lac,Apartment,"2 Bath,Unfurnished,6 floor,North - East facing...",33707.865169
478,Galaxy North Avenue,Noida Extension,2.0,2.0,Galaxy Group,Greater Noida,1070.0,4,Semi-Furnished,2 BHK Apartment for Sale in Galaxy North Avenu...,40000000.0,40 Lac,Apartment,"2 Bath,Semi-Furnished,4 floor,North - East fac...",37383.177570
527,Gaur City 7th Avenue,Noida Extension,2.0,2.0,Gaurs Group,Greater Noida,1165.0,8,Unfurnished,2 BHK Apartment for Sale in Gaur City 7th Ave...,52000000.0,52 Lac,Apartment,"2 Bath,Unfurnished,8 floor,West facing Stadium...",44635.193133
540,Nirala Estate,Noida Extension,2.0,2.0,Nirala India,Greater Noida,955.0,5,Unfurnished,"2 BHK Apartment for Sale in Nirala Estate, Noi...",38500000.0,38.5 Lac,Apartment,"2 Bath,Unfurnished,5 floor It's a 5th floor M...",40314.136126
541,Gaur City 7th Avenue,Noida Extension,2.0,2.0,Gaurs Group,Greater Noida,1165.0,13,Unfurnished,2 BHK Apartment for Sale in Gaur City 7th Ave...,49000000.0,49 Lac,Apartment,"2 Bath,Unfurnished,13 floor,North facing 2 BHK...",42060.085837
623,Ajnara Homes,Noida Extension,3.0,4.0,Ajnara India Ltd.,Greater Noida,1960.0,21,Semi-Furnished,"4 BHK Apartment for Sale in Ajnara Homes, Noid...",85000000.0,85 Lac,Apartment,"3 Bath,Semi-Furnished,21 floor It's a 21th fl...",43367.346939
646,Panchsheel Greens 2,Noida Extension,2.0,2.0,Panchsheel Builtech Pvt. Ltd.,Greater Noida,915.0,11,Semi-Furnished,2 BHK Apartment for Sale in Panchsheel Greens ...,37000000.0,37 Lac,Apartment,"2 Bath,Semi-Furnished,11 floor Multistorey A...",40437.158470
649,Panchsheel Greens 2,Noida Extension,2.0,2.0,Panchsheel Builtech Pvt. Ltd.,Greater Noida,792.0,14,Semi-Furnished,2 BHK Apartment for Sale in Panchsheel Greens ...,32000000.0,32 Lac,Apartment,"2 Bath,Semi-Furnished,14 floor,North - West fa...",40404.040404
845,Gaur City 5th Avenue,Noida Extension,2.0,2.0,Gaurs Group,Greater Noida,1050.0,6,Semi-Furnished,2 BHK Apartment for Sale in Gaur City 5th Aven...,41000000.0,41 Lac,Apartment,"2 Bath,Semi-Furnished,6 floor Opposite gaur ci...",39047.619048
1284,Lotus Villas,Noida Extension,2.0,3.0,Renowned Group,Greater Noida,1365.0,Not available,Unfurnished,"3 BHK Villa for Sale in Lotus Villas, Noida Ex...",33000000.0,33 Lac,Villa,"2 Bath,Unfurnished This spacious Villa has to...",24175.824176
1285,Royal Nest,Noida Extension,2.0,2.0,Omkar Nest Pvt. Ltd.,Greater Noida,1095.0,16,Semi-Furnished,"2 BHK Apartment for Sale in Royal Nest, Noida ...",35300000.0,35.3 Lac,Apartment,"2 Bath,Semi-Furnished,16 floor It's a 16th fl...",32237.442922
1293,Gaur City 5th Avenue,Noida Extension,2.0,2.0,Gaurs Group,Greater Noida,1050.0,7,Semi-Furnished,2 BHK Apartment for Sale in Gaur City 5th Aven...,42500000.0,42.5 Lac,Apartment,"2 Bath,Semi-Furnished,7 floor An extremely dec...",40476.190476
1295,NaN,Noida Extension,2.0,3.0,NaN,Greater Noida,1365.0,Not available,Unfurnished,3 BHK Villa for Sale in Noida Extension,36000000.0,36 Lac,Villa,"2 Bath,68.25 X 20 ft Sqft,Unfurnished,East fac...",26373.626374
1311,Fusion Homes,Noida Extension,2.0,3.0,Fusion Buildtech Pvt. Ltd.,Greater Noida,1625.0,10,Semi-Furnished,"3 BHK Apartment for Sale in Fusion Homes, Noid...",56000000.0,56 Lac,Apartment,"2 Bath,Semi-Furnished,10 floor,North - East fa...",34461.538462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316,Ajnara Homes,Noida Extension,3.0,3.0,Ajnara India Ltd.,Greater Noida,1595.0,8,Semi-Furnished,"3 BHK Apartment for Sale in Ajnara Homes, Noid...",59000000.0,59 Lac,Apartment,"3 Bath,Semi-Furnished,8 floor It's a 8th floo...",36990.595611
1323,Palm Olympia,Noida Extension,2.0,3.0,Sam India Abhimanyu Housing,Greater Noida,1457.0,19,Unfurnished,"3 BHK Apartment for Sale in Palm Olympia, Noid...",53000000.0,53 Lac,Apartment,"2 Bath,Unfurnished,19 floor,North - East facin...",36376.115305
1324,Supertech Eco Village 1,Noida Extension,2.0,2.0,Supertech Ltd.,Greater Noida,890.0,20,Semi-Furnished,2 BHK Apartment for Sale in Supertech Eco Vill...,28000000.0,28 Lac,Apartment,"2 Bath,Semi-Furnished,20 floor It's a 20th fl...",31460.674157
1325,Nirala Estate,Noida Extension,3.0,3.0,Nirala India,Greater Noida,1440.0,10,Furnished,"3 BHK Apartment for Sale in Nirala Estate, Noi...",55000000.0,55 Lac,Apartment,"3 Bath,Furnished,10 floor It's a 10th floor M...",38194.444444
1328,Supertech Eco Village 1,Noida Extension,2.0,3.0,Supertech Ltd.,Greater Noida,1267.0,7,Unfurnished,3 BHK Apartment for Sale in Supertech Eco Vill...,36000000.0,36 Lac,Apartment,"2 Bath,Unfurnished,7 floor This spacious Mult...",28413.575375
1337,Mahagun Mywoods,Noida Extension,3.0,3.0,Mahagun Group,Greater Noida,1520.0,9,Unfurnished,"3 BHK Apartment for Sale in Mahagun Mywoods, N...",62000000.0,62 Lac,Apartment,"3 Bath,Unfurnished,9 floor This Multistorey A...",40789.473684
1338,Lotus Villas,Noida Extension,1.0,1.0,Renowned Group,Greater Noida,650.0,1,Semi-Furnished,1 BHK Builder Floor Apartment for Sale in Lotu...,17000000.0,17 Lac,Builder Floor Apartment,"1 Bath,Semi-Furnished,1 floor Builder Floor ...",26153.846154
1342,Lotus Villas,Noida Extension,1.0,1.0,Renowned Group,Greater Noida,650.0,Ground,Semi-Furnished,1 BHK Builder Floor Apartment for Sale in Lotu...,18000000.0,18 Lac,Builder Floor Apartment,"1 Bath,Semi-Furnished,Ground floor,East facing...",27692.307692
1344,Panchsheel Greens 2,Noida Extension,2.0,2.0,Panchsheel Builtech Pvt. Ltd.,Greater Noida,915.0,9,Semi-Furnished,2 BHK Apartment for Sale in Panchsheel Greens ...,35000000.0,35 Lac,Apartment,"2 Bath,Semi-Furnished,9 floor This spacious M...",38251.366120
1346,Mahagun Mywoods,Noida Extension,3.0,4.0,Mahagun Group,Greater Noida,1810.0,21,Semi-Furnished,"4 BHK Apartment for Sale in Mahagun Mywoods, N...",80000000.0,80 Lac,Apartment,"3 Bath,Semi-Furnished,21 floor,North facing Ra...",44198.895028
1347,Panchsheel Greens 2,Noida Extension,2.0,2.0,Panchsheel Builtech Pvt. Ltd.,Greater Noida,1105.0,18,Unfurnished,2 BHK Apartment for Sale in Panchsheel Greens ...,36500000.0,36.5 Lac,Apartment,"2 Bath,Unfurnished,18 floor It's a 18th floor ...",33031.674208
1349,Panchsheel Greens 2,Noida Extension,2.0,2.0,Panchsheel Builtech Pvt. Ltd.,Greater Noida,915.0,12,Unfurnished,2 BHK Apartment for Sale in Panchsheel Greens ...,32000000.0,32 Lac,Apartment,"2 Bath,Unfurnished,12 floor It's a 12th floor ...",34972.677596
1355,Shri Radha Sky Garden,Noida Extension,3.0,3.0,Shri Group,Greater Noida,1874.0,16,Unfurnished,3 BHK Apartment for Sale in Shri Radha Sky Gar...,55000000.0,55 Lac,Apartment,"3 Bath,Unfurnished,16 floor,East facing Best l...",29348.986126
1360,Mahagun Mywoods,Noida Extension,2.0,2.0,Mahagun Group,Greater Noida,935.0,22,Furnished,"2 BHK Apartment for Sale in Mahagun Mywoods, N...",38000000.0,38 Lac,Apartment,"2 Bath,Furnished,22 floor It's a 22th floor M...",40641.711230
1369,Mahagun Mywoods,Noida Extension,2.0,2.0,Mahagun Group,Greater Noida,935.0,9,Semi-Furnished,"2 BHK Apartment for Sale in Mahagun Mywoods, N...",38500000.0,38.5 Lac,Apartment,"2 Bath,Semi-Furnished,9 floor This Multistore...",41176.470588
1375,Devika Gold Homz,Noida Extension,2.0,2.0,Pragati Group,Greater Noida,997.0,Ground,Unfurnished,"2 BHK Apartment for Sale in Devika Gold Homz, ...",31500000.0,31.5 Lac,Apartment,"2 Bath,Unfurnished,Ground floor,North - East f...",31594.784353
1381,Galaxy North Avenue,Noida Extension,2.0,3.0,Galaxy Group,Greater Noida,1410.0,11,Unfurnished,3 BHK Apartment for Sale in Galaxy North Avenu...,53500000.0,53.5 Lac,Apartment,"2 Bath,Unfurnished,11 floor,North - East facin...",37943.262411
1386,NaN,Noida Extension,2.0,3.0,NaN,Greater Noida,1365.0,Not available,Unfurnished,3 BHK Villa for Sale in Noida Extension,36000000.0,36 Lac,Villa,"2 Bath,30 X 16 ft Sqft,Unfurnished,East facing...",26373.626374
1393,Palm Olympia,Noida Extension,2.0,2.0,Sam India Abhimanyu Housing,Greater Noida,898.0,13,Semi-Furnished,"2 BHK Apartment for Sale in Palm Olympia, Noid...",33999990.0,34 Lac,Apartment,"2 Bath,Semi-Furnished,13 floor,East facing Unu...",37861.904232
1394,Panchsheel Greens 2,Noida Extension,2.0,2.0,Panchsheel Builtech Pvt. Ltd.,Greater Noida,915.0,19,Furnished,2 BHK Apartment for Sale in Panchsheel Greens ...,36000000.0,36 Lac,Apartment,"2 Bath,Furnished,19 floor,North - East facing ...",39344.262295
1402,Lotus Villas,Noida Extension,2.0,3.0,Renowned Group,Greater Noida,1365.0,Not available,Semi-Furnished,"3 BHK Villa for Sale in Lotus Villas, Noida Ex...",39500000.0,39.5 Lac,Villa,"2 Bath,Semi-Furnished,East facing Corner Villa...",28937.728938
1406,Lotus Villas,Noida Extension,2.0,3.0,Renowned Group,Greater Noida,1450.0,Not available,Furnished,"3 BHK Villa for Sale in Lotus Villas, Noida Ex...",42000000.0,42 Lac,Villa,"2 Bath,10 X 6 yrd Sqyrd,Furnished,East facing ...",28965.517241
1412,Panchsheel Greens 2,Noida Extension,2.0,2.0,Panchsheel Builtech Pvt. Ltd.,Greater Noida,915.0,2,Unfurnished,2 BHK Apartment for Sale in Panchsheel Greens ...,36000000.0,36 Lac,Apartment,"2 Bath,Unfurnished,2 floor,East facing This sp...",39344.262295
1413,Mahagun Mywoods,Noida Extension,2.0,2.0,Mahagun Group,Greater Noida,1110.0,15,Semi-Furnished,"2 BHK Apartment for Sale in Mahagun Mywoods, N...",44000000.0,44 Lac,Apartment,"2 Bath,Semi-Furnished,15 floor,East facing Its...",39639.639640
1417,Panchsheel Greens,Noida Extension,1.0,2.0,Panchsheel Builtech Pvt. Ltd.,Greater Noida,792.0,12,Unfurnished,"2 BHK Apartment for Sale in Panchsheel Greens,...",30000000.0,30 Lac,Apartment,"1 Bath,Unfurnished,12 floor This spacious Mul...",37878.787879
1418,Shri Radha Sky Garden,Noida Extension,3.0,3.0,Shri Group,Greater Noida,1874.0,5,Unfurnished,3 BHK Apartment for Sale in Shri Radha Sky Gar...,59960000.0,60 Lac,Apartment,"3 Bath,Unfurnished,5 floor,North - West facing...",31995.731057
1421,Fusion Homes,Noida Extension,2.0,2.0,Fusion Buildtech Pvt. Ltd.,Greater Noida,1155.0,9,Semi-Furnished,"2 BHK Apartment for Sale in Fusion Homes, Noid...",50000000.0,50 Lac,Apartment,"2 Bath,Semi-Furnished,9 floor,East facing This...",43290.043290
1438,Panchsheel Greens 2,Noida Extension,2.0,2.0,Panchsheel Builtech Pvt. Ltd.,Greater Noida,915.0,12,Semi-Furnished,2 BHK Apartment for Sale in Panchsheel Greens ...,32000000.0,32 Lac,Apartment,"2 Bath,Semi-Furnished,12 floor,East facing Stu...",34972.677596
1446,Nirala Estate,Noida Extension,3.0,3.0,Nirala India,Greater Noida,1745.0,5,Semi-Furnished,"3 BHK Apartment for Sale in Nirala Estate, Noi...",65000000.0,65 Lac,Apartment,"3 Bath,Semi-Furnished,5 floor,North - East fac...",37249.283668
1448,NaN,Noida Extension,2.0,3.0,NaN,Greater Noida,1330.0,4,Unfurnished,3 BHK Apartment for Sale in Noida Extension,51000000.0,51 Lac,Apartment,"2 Bath,Unfurnished,4 floor It is 4th floor pro...",38345.864662

In [109]:
df_recommend[df_recommend.locality=='Noida Extension'].groupby(['floorno']).mean()

               bathroom   bedroom    floorSize         price    price/area
floorno
1              2.000000  2.000000  1251.000000  3.950000e+07  29815.583984
10             2.333333  2.666667  1340.000000  4.825000e+07  35998.765681
11             2.000000  2.250000  1053.750000  4.112500e+07  39022.071512
12             1.800000  2.200000  1019.400000  3.784000e+07  37010.084088
13             2.000000  2.000000  1031.500000  4.150000e+07  39960.995034
14             2.000000  2.000000   792.000000  3.200000e+07  40404.040404
15             2.000000  2.000000  1110.000000  4.400000e+07  39639.639640
16             2.333333  2.333333  1298.000000  4.076667e+07  32060.341214
18             2.500000  2.500000  1425.000000  5.325000e+07  36573.143694
19             2.000000  2.333333  1149.000000  4.400000e+07  38573.459200
2              2.000000  2.000000   915.000000  3.600000e+07  39344.262295
20             2.000000  2.000000   890.000000  2.800000e+07  31460.674157
21             2.666667  3.333333  1620.000000  6.662667e+07  39855.413989
22             2.000000  2.000000   935.000000  3.800000e+07  40641.711230
3              3.000000  3.000000  1820.000000  5.900000e+07  32417.582418
4              2.000000  2.500000  1200.000000  4.550000e+07  37864.521116
5              2.666667  2.666667  1524.666667  5.448667e+07  36519.716950
6              2.000000  2.000000   970.000000  3.550000e+07  36377.742108
7              2.250000  2.500000  1169.250000  3.973750e+07  34118.508879
8              2.333333  2.333333  1348.666667  5.300000e+07  39650.275875
9              2.400000  2.400000  1209.000000  5.010000e+07  41254.102315
Ground         1.500000  1.500000  1047.750000  3.665000e+07  32210.977788
Not available  2.000000  3.000000  1382.000000  3.730000e+07  26965.264620

In [110]:
df_recommend[df_recommend.locality=='Noida Extension'].groupby(['bedroom']).mean()

         bathroom    floorSize         price    price/area
bedroom
1.0      1.000000   650.000000  1.770000e+07  27230.769231
2.0      1.970588  1019.088235  3.872441e+07  37806.664480
3.0      2.500000  1537.454545  5.229136e+07  33906.097572
4.0      3.000000  1885.000000  8.250000e+07  43783.120983

In [111]:
df_recommend.groupby(['locality']).mean()

,bathroom,bedroom,floorSize,price,price/area
locality,,,,,
Aimnabad,3.000000,3.000000,1210.000000,3.200000e+07,26446.280992
Alpha 1,2.166667,2.666667,1303.333333,6.200000e+07,47487.699335
Alpha 2,1.250000,1.666667,781.500000,3.775000e+07,47731.368583
Alpha 2 Block F,1.000000,NaN,480.000000,2.654400e+07,55300.000000
Amrapali Dream Valley,1.500000,1.500000,887.500000,3.400000e+07,37325.061319
"Anand Ashray, Phi 3",2.000000,2.000000,865.000000,3.250000e+07,37572.254335
Ansal Golf Links-1,5.000000,5.000000,3000.000000,9.800000e+07,32666.666667
Beta 1,3.000000,3.000000,1365.000000,5.800000e+07,42490.842491
Beta 1 Block A,2.000000,3.000000,1460.000000,4.500000e+07,30821.917808
Beta 2,2.666667,3.400000,997.666667,5.150000e+07,167416.224009
Beta 2 Block H,2.000000,5.000000,200.000000,9.500000e+07,475000.000000
C-16,2.000000,2.000000,1095.000000,3.500000e+07,31963.470320
"Chakrasia Estate, Sector-Chi",3.000000,3.000000,2320.000000,8.000000e+07,34482.758621
Chamrawali Bodaki,2.000000,2.000000,1242.500000,2.500000e+07,20121.457490
Chi 2,3.333333,3.875000,1849.444444,9.022222e+07,95881.555517
Chi 3,3.500000,3.250000,2322.500000,8.875000e+07,37634.753385
Chi 4,3.727273,3.272727,2428.181818,1.208455e+08,48086.346638
Chi 5,2.581818,2.672727,1500.018182,6.056986e+07,39734.309561
"Chuharpur Khadar, Sector-Chi",2.800000,3.600000,1505.600000,6.190000e+07,39844.189923
Dadri Main Road,2.000000,3.000000,1650.000000,3.795000e+07,23000.000000
Delta 2 Block L,2.000000,4.000000,200.000000,1.100000e+08,550000.000000
Ecotech 12,4.000000,3.000000,1764.000000,6.200000e+07,35147.392290
Ecotech 3,2.000000,2.000000,1170.000000,2.700000e+07,23076.923077
"Eldeco Green Meadows, Sector-PI",2.600000,2.400000,1520.000000,5.560000e+07,36706.019172
"Eta 1, Eta",3.000000,3.000000,200.000000,8.250000e+07,412500.000000
"Eta 2, Eta",2.125000,2.187500,1049.625000,3.334398e+07,31943.990123
Gamma 1,2.000000,2.000000,1800.000000,1.000000e+08,55555.555556
Gamma 2,8.000000,7.000000,7399.000000,2.990000e+08,40410.866333
"Gautam Buddha University, Gautam Budh Nagar",3.000000,3.000000,1715.000000,7.500000e+07,43731.778426
Gautam Budh Nagar,2.285714,2.571429,1378.714286,5.582500e+07,40282.408456
...,...,...,...,...,...
Sector-36,6.000000,6.000000,270.000000,9.500000e+07,351851.851852
Sector-37,1.000000,1.000000,500.000000,5.500000e+07,110000.000000
Sector-4,2.533333,2.711111,1440.444444,6.316933e+07,43563.018173
Sector-Chi,2.333333,2.333333,1400.000000,5.700000e+07,38593.306863
Sector-PI,2.588235,2.647059,1385.411765,5.011765e+07,38199.724085
Sector-Phi,3.000000,2.500000,1386.250000,5.750000e+07,41915.914346
Sector-Phi1,3.000000,3.000000,1005.500000,6.200000e+07,206091.088228
Sector-Zeta,3.555556,3.333333,1967.900000,7.316500e+07,37201.999374
Shahberi,1.933333,2.000000,825.333333,2.337333e+07,28375.321148
Sigma 2,3.000000,4.500000,2650.000000,1.375000e+08,176333.333333
Sigma 4,4.400000,4.800000,3085.000000,9.986304e+07,34671.201608
"Stellar Sigma, Sigma 4",3.500000,3.500000,2240.000000,8.050000e+07,35972.963909
Surajpur,1.925926,2.222222,1125.185185,3.692059e+07,32838.930176
Surajpur Site -B Industrial,3.000000,3.000000,1195.000000,4.200000e+07,35146.443515
Surajpur Site -C Industrial,1.666667,2.125000,952.777778,3.158889e+07,32949.677238
Surajpur Site 5 Block J,2.000000,3.000000,1365.000000,3.900000e+07,28571.428571
"Swarna Nagri Block D, Sector 31",1.000000,1.000000,350.000000,1.660000e+07,47428.571429
Swarnnagari,3.333333,3.666667,1136.333333,1.300000e+08,483296.776338
Taj Express Highway,2.000000,2.000000,1042.500000,4.000000e+07,38356.452291
"Tech Zone, Gautam Budh Nagar, Yamuna Expressway",2.000000,2.200000,1155.400000,4.675827e+07,40143.143008
Techzone 4,2.117647,2.411765,1199.823529,4.838235e+07,39371.747434
UPSIDC Site C Block H,2.000000,2.500000,1184.750000,3.650000e+07,31103.981792
UPSIDC Site C Road,3.000000,3.000000,1450.000000,5.600000e+07,38620.689655
"Unitech Horizon, Sector-PI",3.000000,3.000000,1726.666667,5.633333e+07,32623.394185
Upsidc Site B Block D,2.000000,2.000000,1425.000000,4.000000e+07,28070.175439
Vaidpura,2.000000,2.000000,956.666667,3.286000e+07,37273.741106
XU 3,2.500000,2.500000,120.000000,5.150000e+07,429166.666667
Yamuna Expressway,1.916667,2.050000,1010.869048,3.747490e+07,41390.251478
Zeta 1,2.520000,2.575342,1508.213333,6.108946e+07,41555.746445
Zeta 2,3.000000,3.000000,1744.117647,6.691176e+07,40098.524301

In [113]:
df_recommend[df_recommend.locality=='Noida Extension'].groupby(['furnshingstatus']).mean()

                 bathroom   bedroom    floorSize         price    price/area
furnshingstatus
Furnished        2.333333  2.500000  1183.333333  4.190833e+07  35788.367479
Semi-Furnished   2.068966  2.206897  1154.793103  4.348207e+07  36884.959967
Unfurnished      2.192308  2.538462  1292.461538  4.510423e+07  35239.432487

In [114]:
df_recommend[df_recommend.locality=='Noida Extension'].groupby(['builderName']).mean()

,bathroom,bedroom,floorSize,price,price/area
builderName,,,,,
Ajnara India Ltd.,3.000000,3.500000,1777.500000,7.200000e+07,40178.971275
Fusion Buildtech Pvt. Ltd.,2.000000,2.500000,1390.000000,5.300000e+07,38875.790876
Galaxy Group,2.000000,2.333333,1135.000000,4.183333e+07,36640.344859
Gaurs Group,2.000000,2.000000,1101.666667,4.528333e+07,41036.514749
Gulshan Homz,3.000000,3.000000,1745.000000,7.000000e+07,40114.613181
Hawelia Group,3.000000,3.000000,1470.000000,5.145000e+07,35000.000000
JKG Group,2.000000,2.000000,1090.000000,3.488000e+07,32000.000000
Mahagun Group,2.428571,2.571429,1261.428571,5.307143e+07,41887.049723
Nirala India,2.400000,2.600000,1293.000000,4.865000e+07,37664.891149
Omkar Nest Pvt. Ltd.,2.000000,2.000000,1095.000000,3.530000e+07,32237.442922
Panchsheel Builtech Pvt. Ltd.,2.000000,2.100000,999.900000,3.655000e+07,37105.448928
Pragati Group,2.000000,2.000000,997.000000,3.150000e+07,31594.784353
Renowned Group,1.500000,2.000000,1021.666667,2.793333e+07,27295.229675
Sam India Abhimanyu Housing,2.000000,2.500000,1177.500000,4.350000e+07,37119.009769
Shri Group,2.666667,2.666667,1678.000000,5.432000e+07,32889.918688
Supertech Ltd.,2.000000,2.166667,1120.166667,3.866667e+07,33597.485798

In [117]:
df_recommend[df_recommend.locality=='Noida Extension'].groupby(['Society']).mean()

,bathroom,bedroom,floorSize,price,price/area
Society,,,,,
Ajnara Homes,3.000000,3.500000,1777.500000,7.200000e+07,40178.971275
Devika Gold Homz,2.000000,2.000000,997.000000,3.150000e+07,31594.784353
Fusion Homes,2.000000,2.500000,1390.000000,5.300000e+07,38875.790876
Galaxy North Avenue,2.000000,2.333333,1135.000000,4.183333e+07,36640.344859
Gaur City 7th Avenue,2.000000,2.000000,1127.500000,4.705000e+07,41673.819742
Gaur City 5th Avenue,2.000000,2.000000,1050.000000,4.175000e+07,39761.904762
Gulshan Bellina,3.000000,3.000000,1745.000000,7.000000e+07,40114.613181
Hawelia Valenova Park,3.000000,3.000000,1470.000000,5.145000e+07,35000.000000
JKG Palm Court,2.000000,2.000000,1090.000000,3.488000e+07,32000.000000
Lotus Villas,1.500000,2.000000,1021.666667,2.793333e+07,27295.229675
Mahagun Mywoods,2.428571,2.571429,1261.428571,5.307143e+07,41887.049723
Nirala Estate,2.400000,2.600000,1293.000000,4.865000e+07,37664.891149
Oxford Square,2.000000,2.000000,1894.000000,7.900000e+07,41710.665259
Palm Olympia,2.000000,2.500000,1177.500000,4.350000e+07,37119.009769
Panchsheel Greens,1.000000,2.000000,792.000000,3.000000e+07,37878.787879
Panchsheel Greens 2,2.111111,2.111111,1023.000000,3.727778e+07,37019.522378
Royal Nest,2.000000,2.000000,1095.000000,3.530000e+07,32237.442922
Shri Radha Sky Garden,2.666667,2.666667,1678.000000,5.432000e+07,32889.918688
Supertech Eco Village 1,2.000000,2.200000,965.400000,3.060000e+07,31974.849906

In [118]:
df_recommend[df_recommend.locality=='Noida Extension'].groupby(['bathroom']).mean()

           bedroom    floorSize         price    price/area
bathroom
1.0       1.250000   685.500000  2.077500e+07  29892.773893
2.0       2.250000  1118.772727  4.030977e+07  36253.199117
3.0       3.153846  1709.615385  6.372385e+07  37377.494759

In [119]:
df_recommend[df_recommend.locality=='Noida Extension'].groupby(['price']).mean()

            bathroom  bedroom    floorSize    price/area
price
17000000.0  1.000000      1.0   650.000000  26153.846154
18000000.0  1.000000      1.0   650.000000  27692.307692
18100000.0  1.000000      1.0   650.000000  27846.153846
28000000.0  2.000000      2.0   890.000000  31460.674157
29000000.0  2.000000      2.0   890.000000  32584.269663
30000000.0  1.666667      2.0   857.333333  35098.172739
31500000.0  2.000000      2.0   997.000000  31594.784353
32000000.0  2.000000      2.0   886.750000  36235.997547
33000000.0  2.000000      3.0  1365.000000  24175.824176
33750000.0  2.000000      2.0   955.000000  35340.314136
33999990.0  2.000000      2.0   898.000000  37861.904232
34880000.0  2.000000      2.0  1090.000000  32000.000000
35000000.0  2.000000      2.0   915.000000  38251.366120
35300000.0  2.000000      2.0  1095.000000  32237.442922
36000000.0  2.000000      2.6  1165.400000  31969.870542
36500000.0  2.000000      2.0  1105.000000  33031.674208
37000000.0  2.000000      2.0   915.000000  40437.158470
38000000.0  2.000000      2.0   935.000000  40641.711230
38500000.0  2.000000      2.0   945.000000  40745.303357
39500000.0  2.000000      3.0  1365.000000  28937.728938
40000000.0  2.000000      2.0  1070.000000  37383.177570
41000000.0  2.000000      2.0  1050.000000  39047.619048
42000000.0  2.000000      3.0  1450.000000  28965.517241
42500000.0  2.000000      2.0  1050.000000  40476.190476
43000000.0  2.000000      2.0  1075.000000  40000.000000
44000000.0  2.000000      2.0  1055.000000  41819.819820
44200000.0  2.000000      2.0  1105.000000  40000.000000
48000000.0  2.000000      2.0  1286.000000  37325.038880
49000000.0  2.000000      2.0  1165.000000  42060.085837
50000000.0  2.000000      2.0  1155.000000  43290.043290
51000000.0  2.000000      3.0  1350.000000  37786.071017
51450000.0  3.000000      3.0  1470.000000  35000.000000
52000000.0  2.000000      2.0  1165.000000  44635.193133
53000000.0  2.000000      3.0  1457.000000  36376.115305
53500000.0  2.000000      3.0  1410.000000  37943.262411
55000000.0  3.000000      3.0  1657.000000  33771.715285
56000000.0  2.000000      3.0  1625.000000  34461.538462
59000000.0  3.000000      3.0  1707.500000  34704.089014
59960000.0  3.000000      3.0  1874.000000  31995.731057
62000000.0  3.000000      3.0  1686.000000  37133.397749
65000000.0  3.000000      3.0  1632.500000  40006.220781
70000000.0  3.000000      3.0  1745.000000  40114.613181
79000000.0  2.000000      2.0  1894.000000  41710.665259
80000000.0  3.000000      4.0  1810.000000  44198.895028
85000000.0  3.000000      4.0  1960.000000  43367.346939

In [ ]:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')

In [ ]:
tfidf_matrix = tf.fit_transform(df_recommend['description'])
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
tfidf_matrix.data

In [ ]:
df_recommend.head(10).T

In [ ]:
df_recommend.Society.unique()

In [ ]:
df_recommend[df_recommend.Society=='Shri Radha Sky Garden']

In [ ]:
df_recommend.columns

In [ ]:
def citybased(city,price=None):
    df_recommend['cityName']=df_recommend['cityName'].str.lower()
    citybase=df_recommend[df_recommend['cityName']==city.lower()]
    citybase=citybase.sort_values(by='price',ascending=True)
    #print(citybase.head())
    if price is not None:
        price=int(price)
        citybase=citybase[citybase.price<=price]
    if(citybase.empty==0):
        pname=citybase[['Society', 'locality', 'bathroom', 'bedroom','floorSize', 'floorno', 'furnshingstatus', 'name', 'price',
                       'priceInWord', 'propertyType']]
        return pname.head(10)
    else:
        print('No Property Available')

In [ ]:
def localitybased(locality,price=None):
    df_recommend['locality']=df_recommend['locality'].str.lower()
    localitybase=df_recommend[df_recommend['locality']==locality.lower()]
    localitybase=localitybase.sort_values(by=['bedroom','bathroom','price'],ascending=False)
    #print(citybase.head())
    if price is not None:
        price=int(price)
        localitybase=localitybase[localitybase.price<=price]
    if(localitybase.empty==0):
        pname=localitybase[['Society', 'locality', 'bathroom', 'bedroom','floorSize', 'floorno', 'furnshingstatus', 'name', 'price',
                       'priceInWord', 'propertyType']]
        return pname.head(50)
    else:
        print('No Property Available')

In [ ]:
df_recommend.locality.unique()

In [ ]:
df_recommend=df_recommend[df_recommend.price!='Not define']

In [ ]:
localitybased('Noida Extention')

In [ ]:
citybased('Greater Noida')

In [ ]:
def requirementbased(city, price=None,*features):
    price=int(price)
    df_recommend['cityName']=df_recommend['cityName'].str.lower()
    #df_recommend['locality']=df_recommend['locality'].str.lower()
    features = ''.join(features)
    features=features.lower()
    features_tokens=word_tokenize(features)
    sw=stopwords.words('english')
    #description_matrix = tf.fit_transform(features)
    #cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)
    lemm=WordNetLemmatizer()
    f1_set = {w for w in features_tokens if not w in sw}
    f_set=set()
    for se in f1_set:
        f_set.add(lemm.lemmatize(se))
        #print(f_set)
    reqbased=df_recommend[df_recommend['cityName']==city.lower()]
    if price!= None:
        reqbased=reqbased[reqbased['price'] <=price]
    reqbased=reqbased.set_index(np.arange(reqbased.shape[0]))
    l1 =[];l2 =[];cos=[];
    #print(reqbased['description'])
    for i in range(reqbased.shape[0]):
        temp_tokens=word_tokenize(reqbased['description'][i])
        temp1_set={w for w in temp_tokens if not w in sw}
        temp_set=set()
        for se in temp1_set:
            temp_set.add(lemm.lemmatize(se))
            #print(temp_set)
        rvector = temp_set.intersection(f_set)
        #print(rvector)
        cos.append(len(rvector))
    reqbased['similarity']=cos
    reqbased=reqbased.sort_values(by='similarity',ascending=False)
    return reqbased[['Society', 'locality', 'bathroom', 'bedroom','floorSize', 'floorno', 'furnshingstatus', 'name', 'price',
                       'priceInWord', 'propertyType','similarity']]

In [ ]:
df_recommend.cityName.unique()

In [ ]:
requirementbased('Greater Noida' ,8000000, "3 bedroom with minimum 1400 sqft apartment in omicron 3")

In [ ]:
print(df_recommend[df_recommend.locality=='Noida Extension'].description[:1])

In [ ]:
def requirementbased(city,number,features):
    hotel['city']=hotel['city'].str.lower()
    hotel['roomamenities']=hotel['roomamenities'].str.lower()
    features=features.lower()
    features_tokens=word_tokenize(features)  
    sw = stopwords.words('english')
    lemm = WordNetLemmatizer()
    f1_set = {w for w in features_tokens if not w in sw}
    f_set=set()
    for se in f1_set:
        f_set.add(lemm.lemmatize(se))
    reqbased=hotel[hotel['city']==city.lower()]
    reqbased=reqbased[reqbased['guests_no']==number]
    reqbased=reqbased.set_index(np.arange(reqbased.shape[0]))
    l1 =[];l2 =[];cos=[];
    #print(reqbased['roomamenities'])
    for i in range(reqbased.shape[0]):
        temp_tokens=word_tokenize(reqbased['roomamenities'][i])
        temp1_set={w for w in temp_tokens if not w in sw}
        temp_set=set()
        for se in temp1_set:
            temp_set.add(lemm.lemmatize(se))
        rvector = temp_set.intersection(f_set)
        #print(rvector)
        cos.append(len(rvector))
    reqbased['similarity']=cos
    reqbased=reqbased.sort_values(by='similarity',ascending=False)
    reqbased.drop_duplicates(subset='hotelcode',keep='first',inplace=True)
    return reqbased[['hotelname','roomtype','guests_no','starrating','address','roomamenities','ratedescription','similarity']].head(10)

In [ ]:
def get_recommedation_budget(locality,budget=None,*features):
    #print
    df['locality']=df['locality'].str.lower()
    reqbased=df[df['locality']==locality.lower()]
    print(reqbased.head())
    if budget!=None:
        budget=int(budget)
        new_budget=budget+(budget*0.10)
        reqbased=reqbased[reqbased['price']<=(new_budget)]
    #reqbased=reqbased.set_index(np.arange(reqbased.shape[0]))
    print(get_index(reqbased,features))